<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id= {{dataCard[0].id}}
      photoCover={{dataCard[0].photoCover}}
      cardTitle={{dataCard[0].title}}
      cardDescription={{dataCard[0].description}}
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let data of dataCard" 
    Id = {{data.id}} 
    cardTitle = {{data.title}} 
    photoCover= {{data.photoCover}}
    >
    </app-small-card>
  </div>
</div>
